<h1>About Me</h1>
<hr>
<p>Hi, I am <strong>BarrYPL</strong>. I am currently working as a RoR Developer from Kraków, highly passionate about <strong>cybersecurity</strong>. For now, I am participating in CTFs as a member of the Polish team Mind Crafters.
My favorite categories are <strong>Websec, Crypto, and Reverse Engineering</strong>. Since I previously worked as an electrical engineer in R&D, I can also take part in hardware CTFs.
I like to share my knowledge with others, so I'll try to show you as much as I can on my <a href="/blog"><i class="fa-solid fa-pen-nib"></i> blog</a>. Here, you will find tutorials, insights, and my thoughts on the latest in cybersecurity. Feel free to check out my <a href="https://github.com/BarrYPL" target="_blank"><i class="fa-brands fa-github"></i> Github</a> and some of the write-ups I have worked on.
<br>
<br>
<strong>Hope you'll enjoy it!</strong></P>
