<h1>>/Admin panel $</h1>
<hr>
<div class="admin-panel">
  <a href="/posts-cms"><div class="card">
    <h2>CMS</h2>
    <h2><i class="fa-solid fa-people-roof"></i></h2>
    <div class="inner-card">
      <p class="secondary">Manage posts</p>
      <button class="inverse-btn"><i class="fa-solid fa-right-to-bracket"></i> Go</button>
    </div>
  </div></a>

  <a href="/files"><div class="card">
    <h2>Files</h2>
    <h2><i class="fa-solid fa-bars-progress"></i></h2>
    <div class="inner-card">
      <p class="secondary">Manage files</p>
      <button class="inverse-btn"><i class="fa-solid fa-right-to-bracket"></i> Go</button>
    </div>
  </div></a>

  <a href="/new-post"><div class="card">
    <h2>New Post</h2>
    <h2><i class="fa-solid fa-newspaper"></i></h2>
    <div class="inner-card">
      <p class="secondary">Add new post</p>
      <button class="inverse-btn"><i class="fa-solid fa-right-to-bracket"></i> Go</button>
    </div>
  </div></a>

  <a href="/files-cms"><div class="card">
    <h2>Files DB</h2>
    <h2><i class="fa-solid fa-database"></i></h2>
    <div class="inner-card">
      <p class="secondary">Manage registred files</p>
      <button class="inverse-btn"><i class="fa-solid fa-right-to-bracket"></i> Go</button>
    </div>
  </div></a>

  <a href="/new-writeup"><div class="card">
    <h2>New writeup</h2>
    <h2><i class="fa-regular fa-keyboard"></i></h2>
    <div class="inner-card">
      <p class="secondary">Write Git oriented post</p>
      <button class="inverse-btn"><i class="fa-solid fa-right-to-bracket"></i> Go</button>
    </div>
  </div></a>
</div>
