<div class="contact-container">
  <div class="socials">
    <a href="mailto:obartek4@gmail.com">
      <i class="fa-solid fa-envelope"></i>
    </a>
    <a href="https://github.com/BarrYPL" target="_blank">
      <i class="fa-brands fa-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/bartosz-osuch-b48332160/" target="_blank">
      <i class="fa-brands fa-linkedin"></i>
    </a>
  </div>
</div>
