<h1>404</h1>
<p>Oops, page not found…</p>
<p>If you think you shouldn't see this error, you can contact the site admin through one of the following social media channels:</p>

<%= erb :contact_partial %>

<a href="/"><i class="fa-solid fa-house"></i>Home</a>
