<h1>>/Admin_browser $</h1>
<hr>
<div class="file-browser-container">
  <div class="browser-header">
    <h3 id="current-path"></h3>
    <div id="options-div"></div>
  </div>
  <div class="table-holder">    
    <table id="file-table" class="file-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Typ</th>
          <th>Download</th>
          <th>Akcje <input type="checkbox" id="select_all"></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
  <div id="drop-zone"><i class="fa-solid fa-file-import"></i> Drop files here</div>
  <div id="custom-menu">
    <ul>
      <li id="unzip"><i class="fa-solid fa-arrow-up-from-bracket"></i> Unzip File</li>
      <li id="rename"><i class="fa-solid fa-file-signature"></i> Rename</li>
      <li id="delete"><i class="fa-solid fa-trash"></i> Delete</li>
      <li id="pub"></li>
    </ul>
  </div>
</div>
