<h1>>/Admin_browser $</h1>
<hr>
<div class="file-browser-container">
  <div class="browser-header">
    <h3 id="current-path"></h3>
    <div id="options-div"></div>
  </div>
  <table id="file-table" class="file-table">
    <thead>
      <tr>
        <th>Nazwa</th>
        <th>Typ</th>
        <th>Akcje</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <div id="drop-zone"><i class="fa-solid fa-file-import"></i> Drop files here</div>
</div>
