<h1>>/Admin_browser $</h1>
<hr>
<div class="file-browser-container">
  <div id="alert-container" class="alert-container"></div>
  <div class="browser-header">
    <h3 id="current-path"></h3>
    <div id="options-div"></div>
  </div>
  <table id="file-table" class="file-table">
    <thead>
      <tr>
        <th>Nazwa</th>
        <th>Typ</th>
        <th>Akcje</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <div id="drop-zone"><i class="fa-solid fa-file-import"></i> Drop files here</div>
  <div id="custom-menu">
    <ul>
      <li id="unzip"><i class="fa-solid fa-arrow-up-from-bracket"></i> Unzip File</li>
      <li id="rename"><i class="fa-solid fa-file-signature"></i> Rename</li>
      <li id="delete"><i class="fa-solid fa-trash"></i> Delete</li>
      <li id="pub"></li>
    </ul>
  </div>
</div>
