<h1>Home</h1>
<hr>
<p><strong>Hi,</strong> nice to see you on website, where I share my knowledge in ethical <strong>hacking</strong>. You'll find Capture The Flag <strong>write-ups</strong>, blog posts, and more. Additionally, I'll be hosting a series of posts specifically designed for complete beginners, introducing them to the exciting field of <strong>cybersecurity</strong>. I'm happy to share my thoughts, experiences, and knowledge with you!</p>
