<h1>Home</h1>
<hr>
<p>Welcome to my website, where I share my knowledge in ethical hacking. You'll find Capture The Flag write-ups, blog posts, and more. Additionally, I'll be hosting a series of posts specifically designed for complete beginners, introducing them to the exciting field of cybersecurity. I'm happy to share my thoughts, experiences, and knowledge with you!</p>
