<h1>>/New Writeup $</h1>
<hr>
<div class="writeup-form-container">
  <form class="new-writeup-form" action="new-writeup" method="post">
    <p>CTF Name: </p>
    <input type="text" name="ctf_name" placeholder="Ctf name">
    <p>Task name:</p>
    <input type="text" name="title" placeholder="Title">
  </form>
</div>
