<div class="title-div">
  <h1>>/posts/<%= @post[:title] %> $</h1>
  <div>
    <a href="/posts" class="back-button">cd ..</a>
  </div>
</div>
<hr>
<div class="post-container">
  <p><%= @post[:content] %></p>
</div>
