<h1>>/Tags $</h1>
<div class="buttons">
  <a href="#" onclick="history.back()" class="main-button">cd ..</a>
</div>
<hr>
<div class="tags-cloud">
  <% @tags.sort.each do |tag| %>
    <p class="tag"><%= tag.titleize %></p>
  <% end %>
</div>
<div class="articles-container">
</div>
