table {
  text-align: center;
  width: 100%;
}

th {
  padding: 10px 0;
  background: #ddd;
}

table, th, td {
  border-bottom: 1px solid #ddd;
  border-collapse: collapse;
}

td {
  padding: 10px 5px;
  overflow: hidden;
  height: 25px;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 150px;
}

td button {
  font-family: "Anonymous Pro", monospace;
  width: 100%;
  padding: 10px 10px;
  outline: none;
  border: 1px solid;
  background: #121212;
  border-radius: 5px;
  color: #fafafa;
  cursor: pointer;
}

td button:hover {
  background-color: #ccc;
}

.container {
  width: 1060px;
}

.hide-gray {
  background: #999;
}
