h1 {
  text-align: center;
}

p {
  margin-bottom: 20px;
}

.content a{
  font-weight: bold;
  font-size: 1.125rem;
}

.content a{
  border:none;
  position: relative;
}

.content a:hover{
  border: none;
}

.content a::after{
  content: '';
  position: absolute;
  width: 0px;
  height: 1px;
  left: 50%;
  bottom:0;
  background-color: #121212;
  transition: all ease-in-out .2s;
}

.content a:hover::after{
  width: 100%;
  left: 0;
}
