ul {
  list-style-type: none;
}

table, th, td {
  border-bottom: 1px solid #999;
  border-collapse: collapse;
}

th {
  background: #121212;
  max-width: 200px;
  overflow: hidden;
  padding: 10px;
  color: #fafafa;
}

td {
  padding: 15px;
}

a button{
  outline: none;
  background: transparent;
  border: none;
  color: #fafafa;
}

td a{
  border:none;
  position: relative;
}

td a:hover{
  border: none;
}

td a::after{
  content: '';
  position: absolute;
  width: 0px;
  height: 1px;
  left: 50%;
  bottom:0;
  background-color: #121212;
  transition: all ease-in-out .2s;
}

td a:hover::after{
  width: 100%;
  left: 0;
}

.hidden {
  display: none;
}

.file-browser-container {
  width: 100%;
}

.browser-header {
  margin: 10px 0px;
}

.li-buttons {
  margin-bottom: 10px;
}

#options-div {
  margin-top: 10px;
}

#options-div a{
  margin-right: 10px;
}
