ul {
  list-style-type: none;
}

a button{
  outline: none;
  background: transparent;
  border: none;
  color: #fafafa;
}

.folder {
  cursor: pointer;
}

.hidden {
  display: none;
}

.file-browser-container {
  width: 100%;
}

.browser-header {
  margin: 10px 0px;
}

.li-buttons {
  margin-bottom: 10px;
}
