.posts-list{
  columns: 250px;
}

.post{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}

.post-card {
  width: fit-content;
  padding: 15px 0px;
}

.post-date p {
  width: 90px;
  color: #888;
}

.sort-buttons {
  display: flex;
  align-items: center;
  width: 100%;
}

.sort-buttons a{
  margin-left: 10px;
}

.recent-posts {
  width: 100%;
}

.recent-posts h2 {
  margin-bottom: 20px;
}

.see-more {
  display: flex;
  flex-direction: row-reverse;
}

.see-more a{
  display: block;
  width: max-content;
}
