.posts-list{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.post{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 230px;
}

.post-card {
  width: fit-content;
  padding: 15px;
  margin: 0px 20px 20px 0px;
  background: #ebebeb;
}

.post-date p {
  width: 100%;
  color: #888;
}

.sort-buttons {
  display: flex;
  align-items: center;
  width: 100%;
}

.sort-buttons a{
  margin-left: 10px;
}

.recent-posts {
  width: 100%;
}

.recent-posts h2 {
  margin-bottom: 20px;
}

.see-more {
  display: flex;
  flex-direction: row-reverse;
}

.see-more a{
  display: block;
  width: max-content;
}

.terminal {
  position: absolute;
  top: 0px;
  left: 50px;
  width: 300px;
  height: 260px;
  background: #ebebeb;
  border-radius: 10px 10px 0px 0px;
  overflow: auto !important;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
  -ms-overflow-style: scrollbar;
  -webkit-overflow-scrolling: touch;
  z-index: 9;
}

.terminal::-webkit-scrollbar {
  width: 10px;
}

.terminal::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.terminal::-webkit-scrollbar-thumb {
  background: #888;
}

.terminal::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.terminal-header {
  background: #afafaf;
  padding: 10px;
  display: flex;
  border-radius: 10px 10px 0px 0px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.terminal-header span{
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-right: 7px;
}

.red-dot {
  background: #FF605C;
  cursor: pointer;
}

.yellow-dot {
  background: #FFBD44;
  cursor: pointer;
}

.green-dot {
  background: #00CA4E;
  cursor: pointer;
}

.prompt {
  font-weight: bold;
}

p .logo-coursor {
  top: 2px;
  left: -10px;
}

#welcome-paragraph{
  padding: 5px 10px 10px 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.desktop {
  border: 2px solid #afafaf;
  position: relative;
  width: 100%;
  min-height: 320px;
  background-image: url('/images/wallpaper.png');
  background-size: 100% 90%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.menu-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #afafaf;
  padding: 5px 10px;
  z-index: 10;
}

.app-icon {
  height: 30px;
  width: 30px;
  padding: 5px;
  background: #121212;
  color: #f1f1f1;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.app-icon:hover {
  box-shadow: 0px -1px 8px 4px rgba(255,0,0,0.3);
  transform: scale(1.05);
  cursor: pointer;
}

.context-menu {
  display: none;
  position: absolute;
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.context-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu ul li {
  padding: 8px 12px;
  cursor: pointer;
}

.context-menu ul li:hover {
  background-color: #444;
}

.command-input {
  border: none;
  outline: none;
  background: transparent;
  width: 2ch;
  margin-left: 5px;
}

@media (max-width: 600px) {
  .posts-list {
    justify-content: center;
  }
}
