.posts-list{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.post{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 230px;
}

.post-card {
  width: fit-content;
  padding: 15px;
  margin: 0px 20px 20px 0px;
  background: #ebebeb;
}

.post-date p {
  width: 100%;
  color: #888;
}

.sort-buttons {
  display: flex;
  align-items: center;
  width: 100%;
}

.sort-buttons a{
  margin-left: 10px;
}

.recent-posts {
  width: 100%;
}

.recent-posts h2 {
  margin-bottom: 20px;
}

.see-more {
  display: flex;
  flex-direction: row-reverse;
}

.see-more a{
  display: block;
  width: max-content;
}

@media (max-width: 600px) {
  .posts-list {
    justify-content: center;
  }
}

#welcome-paragraph{
  width: 100%;
  text-align: left;
}