form {
  width: 100%;
}

input[type = "text"] {
  font-family: "Anonymous Pro", monospace;
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
}

button[type = "submit"] {
 margin-top: 20px;
 background: #121212;
 border: 0;
 padding: 14px 40px;
 outline: none;
 color: #fafafa;
 cursor: pointer;
 border-radius: 5px;
}

form p{
  padding: 10px 0px;
}

.writeup-form-container {
  width: 100%;
}

.images-holder {
  display: flex;
  flex-direction: column;
  width: 100px;
  flex-wrap: wrap;
}

.images-holder a {
  margin-bottom: 5px;
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border:none;
  position: relative;
  padding-right: 5px;
}

.images-holder a:hover{
  border: none;
}

.images-holder a::after{
  content: '';
  position: absolute;
  width: 0px;
  height: 1px;
  left: 50%;
  bottom:0;
  background-color: #121212;
  transition: all ease-in-out .2s;
}

.images-holder a:hover::after{
  width: 100%;
  left: 0;
}

.create-post-area {
  display: flex;
}

.EasyMDEContainer{
  width: 100%;
}
