form {
  width: 100%;
  margin-top: 20px;
}

input[type = "text"] {
  font-family: "Anonymous Pro", monospace;
  margin-bottom: 20px;
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
}

button[type = "submit"] {
 background: #121212;
 border: 0;
 padding: 14px 40px;
 outline: none;
 color: #fafafa;
 cursor: pointer;
 border-radius: 5px;
}

.info {
  width: 100%;
  color: red;
}

.custom-select {
  position: relative;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: transparent;
  margin-bottom: 20px;
  border-radius: 8px;
}

.select-selected:after {
  color: #121212;
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-items div,.select-selected {
  color: #7f8c8d;
  padding: 8px 16px;
  border: 1px solid #ddd;
  cursor: pointer;
  user-select: none;
}

.select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
